/*　情報登録画面
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
$color-base: #F6F6F6;
$meter-orange: #FFA500;
$meter-blue: #0068CC;


body {
    background-color: $color-base;
    color: #333;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

.main {
    width: 100vw;
    overflow: hidden;
}

.slideshow {
    display: flex;
    width: 800vw;
    transform: translate(0);
    transition: .3s;

    .slideContent {
        width: 12.5%;
        margin-top: 50px;
    }
}

.meter {
    width: 0;
    height: 9px;
    transition: width .5s ease-in;
}

.orange {
    background-color: $meter-orange;
}

.blue {
    background-color: $meter-blue;
}

.prev {
    display: block;
    margin: 24px 0 0 24px;
    font-size: 40px;
    text-align-last: left;
}

.slideContent {
    &__ttl {
        font-size: 24px;
    }
}

.next {
    width: 320px;
    margin: 464px auto 0;
    padding: 16px 140px;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    background-color: $meter-orange;
}

#input-area {
    width: 320px;
}

form {
    margin-top: 48px;
}

.supplement {
    display: inline-block;
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
}

.right {
    margin-left: 230px;
}

.shop {
    .next {
        margin-top: 357px;
    }
}

.area {
    .next {
        margin-top: 135px;
    }
}

.area-name {
    margin: 38px 35px 16px;
    font-size: 16px;
    text-align-last: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 320px;
    margin-left: 35px;

    .select {
        width: 71px;
        margin-bottom: 16px;
        padding: 8px 16px;
        border-radius: 40px;
        background-color: #fff;
        font-size: 13px;
        font-weight: bold;
    }
}

.complet {
    .slideContent__ttl {
        font-size: 36px;
    }

    .supplement {
        margin: 16px 0;
        font-size: 20px;
    }

    .icon {
        width: 145px;
        height: 145px;
        margin: 0 auto;
    }

    .next {
        display: block;
        margin-top: 320px;
        padding: 16px 120px;
    }
}

.shop-regist {
    .next {
        background-color: $meter-blue;
    }

    .info {

        .shop-name,
        .shop-address {
            margin: 48px 0 8px 35px;
            font-size: 15px;
            text-align-last: left;
        }

        .shop-address {
            margin-top: 40px;
        }

        form {
            margin-top: 0;
        }
    }

    .contact {

        .shop-tel,
        .shop-mail {
            margin: 48px 0 8px 35px;
            font-size: 15px;
            text-align-last: left;
        }

        .shop-mail {
            margin-top: 40px;
        }

        form {
            margin-top: 0;
        }
    }

    .password {

        .shop-pass {
            margin: 48px 0 8px 35px;
            font-size: 15px;
            text-align-last: left;
        }

        .supplement {
            text-align: center;
        }

        form {
            margin-top: 0;
        }
    }

    .birthday .next,
    .name .next {
        margin-top: 464px;
    }

    .info .next,
    .contact .next {
        margin-top: 330px;
    }

    .password .next {
        margin-top: 370px;
    }

}