$color-d9: #d9d9d9;
$color-e8: #E8E8E8;
$color-orange: #FFA500;
$color-blue: #0068CC;

body {
    background-color: #F6F6F6;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.main {
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 126px;
    margin: 0 auto;
    transform: translateY(40vh);
    opacity: 0;
    animation: shutter 3s 1s forwards;
}

.ttl {
    margin: 16px 0 8px;
    font-size: 24px;
}

.sub_ttl {
    font-size: 20px;
}

.contents {
    margin-top: 185px;
    text-align: center;
    /*
        開発中はコメントアウト
    */
    // transform: translateX(100vw);
    transition: .3s;
}

.active {
    transform: translateX(0);
}

.logo_icon {
    width: 126px;
    height: 126px;
    margin: 0 auto;
    transition: .3s;
}


// ロゴのアニメーション
@keyframes shutter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        display: none;
    }
}

.google_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto 104px;
    margin-top: 104px;
    padding: 16px 40px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.click_google_btn {
    display: none;
    transform: translate(-100vw);
}

.google_icon {
    width: 32px;
    height: 32px;
}

.google {
    margin: 0 0 0 24px;
    font-size: 20px;
}

.select {
    margin-top: 120px;
    transform: translate(100vw);
    transition: .3s;

    .question {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .flex {
        display: flex;
        align-items: center;
        width: 320px;
        margin: 0 auto 17px;
        padding: 16px 56px;
        border-radius: 100px;
        background-color: #fff;
    }

}

.click_google_btn_active {
    transform: translate(0);
}

.question {
    margin-bottom: 48px;
}

.exhibitor,
.shop {
    display: block;
    margin-left: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        width: 31px;
        height: 31px;
        background: url(../../images/icon-orange.svg) no-repeat center/cover;
        position: absolute;
        top: -3px;
        left: -45px;
    }
}

.shop::before {
    background: url(../../images/icon-blue.svg) no-repeat center/cover;
}