$color-d9: #d9d9d9;
$color-e8: #E8E8E8;

body {
    background-color: #F6F6F6;
}

.main {
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 126px;
    margin: 0 auto;
    background-color: $color-d9;
    transform: translateY(40vh);
    opacity: 0;
    animation: shutter 3s 1s forwards;
}

.contents {
    text-align: center;
    /*
        開発中はコメントアウト
    */
    // transform: translateX(100vw);
    transition: .3s;
}

.active {
    transform: translateX(0);
}

.logo_icon {
    width: 126px;
    height: 126px;
    margin: 0 auto;
    background-color: $color-d9;
    transition: .3s;
}


// ロゴのアニメーション
@keyframes shutter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        display: none;
    }
}

.google_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 46px;
    background-color: $color-e8;

    &:hover {
        cursor: pointer;
    }
}

.click_google_btn {
    transform: translate(-100vw);
}

.google_icon {
    width: 32px;
    height: 32px;
    background-color: #d9d9d9;
}

.google {
    margin: 0 24px 0 0;
    font-size: 20px;
}

.select {
    transform: translate(100vw);
    transition: .3s;

    .question {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        margin: 0 auto 17px;
        padding: 16px 56px;
        border-radius: 100px;
        background-color: #fff;
    }

}

.click_google_btn_active {
    transform: translate(0);
}